html {
  font-family: 'Chelsea Market', cursive;

}

body {
  background-color: lightgrey;
}

/* Header section */
.top {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: -13rem;
  border: solid black;
  padding: 1rem 15rem 8rem 15rem;
  background-color: wheat;
  margin-left: 7rem;
  opacity: 0.85;
}
.top h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 4rem;
  text-align: center;

}
.top p {
  font-size: 1rem;
  text-align: right;
  margin-left: 34rem;
  margin-top: -3rem;

}

/* Navigation */
#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  margin-top: 15rem;
}
#nav li {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.15rem;
  width: 80px;
  height: 80px;
  padding-left: 2rem;
  padding-right: 2rem;
}

ul h2:hover {
  color: dimgrey;
  text-decoration: underline;

  }

  /* Main section */
  .pens {
    display: flex;
    flex-direction: row;
  }

  .pens img {
    height: 20%;
    width: 20%;
    margin-top: 3rem;
    margin-left: 7.5rem;
    border: solid black;
  }

  .bowl img {
    height: 30%;
    width: 30%;
  }

  .video iframe {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .bottom {
    display: flex;
    background-color: gray;
    margin: 4rem 5rem 2rem 5rem;
    height: 20rem;
  }

  .bottom p {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
    text-align: left;
    padding-top: 4.5rem;

  }

  .bottom h3 {
    font-size: .70rem;
    float: right;
    padding-right: 1rem;
    margin-top: 1rem;
  }
  .bottom h2 {
    font-size: .85rem;
    float: right;
    margin-bottom: 20px;
    border: solid black;
  }



  /* Query's */

  @media only screen and (max-width: 450px){
    .top h1 {
      font-size: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    #nav li {
      font-size: 0.75rem;
      padding-left: 0;
      padding-right: 0;
      margin-top: 1rem;
    }

    .bottom {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .bottom p {
      font-size: 0.75rem;
      margin-left: 0;
    }

    .pens  {
      display: inline-block;
      width: 50rem;
      height: 40rem;
    }

  }
